<launch>

<arg name="robot_name" default="lolo"/>
<arg name="utm_zone" default="34"/>
<arg name="utm_band" default="V"/>
<arg name="captain_ip" default="192.168.1.90" />
<arg name="GPS_IP" default="192.168.1.91" />
<arg name="INS_IP" default="192.168.1.95" />
<arg name="LOLO_IP" default="192.168.1.100" />

<!-- Teensy Ping Trigger Interface --> 
<arg name="teensy_ip" default="192.168.1.92" />
<arg name="teensy_port" default="123" />
<arg name="cfg_dir" default="$(find lolo_ping_driver)/cfg/" />
<arg name="ping_schedules_ini" default="ping_schedules.ini" />

<!-- Captain interface -->
<include file="$(find captain_interface)/launch/interface.launch" ns="$(arg robot_name)">
    <arg name="captain_ip" value="$(arg captain_ip)"/>
</include>

<!-- GPS reader + GPS republish -->
<include file= "$(find captain_interface)/launch/nmea_udp_driver.launch">
    <arg name="UDP_IP" default="$(arg LOLO_IP)" />
    <arg name="UDP_PORT" default="9009" />
</include>
<node name="gps_republish" type="relay" pkg="topic_tools" args="/lolo/core/gps_raw/fix /lolo/core/gps" output="screen"/>

<!-- INS interface + INS republish -->
<include file= "$(find ixblue_ins_driver)/launch/ixblue_ins_driver.launch">
    <arg name="ip" value="$(arg LOLO_IP)"/>
    <arg name="expected_frequency" default="200.0"/>
</include>
<node name="ins_republish" type="relay" pkg="topic_tools" args="/ixblue_ins_driver/ix/ins /lolo/core/ins" output="screen"/>
<node name="imu_republish" type="relay" pkg="topic_tools" args="/ixblue_ins_driver/standard/imu /lolo/core/imu" output="screen"/>

<!-- Teensy Ping Trigger Node -->
<node pkg="lolo_ping_driver" type="server.py" name="ping_scheduler_service" output="screen">
	<param name="teensy_port" value="$(arg teensy_port)" type="string" />
	<param name="teensy_ip" value="$(arg teensy_ip)" />
	<param name="cfg_dir" value="$(arg cfg_dir)" />
	<param name="cfg" value="$(arg ping_schedules_ini)" />
</node>

<!-- TODO DVL node -->
<node name="nortek_dvl" type="dvl_node.py" pkg="nortek_dvl333_driver" args="" output="screen"/>

<!-- CTD node -->
<node name="ctd_reader" type="serial_reader.py" pkg="lolo_drivers" args="" output="screen"/>
<node name="ctd_parser" type="rbr_ctd.py" pkg="lolo_drivers" args="" output="screen"/>


</launch>