<launch>

<arg name="robot_name" default="lolo"/>
<arg name="utm_zone" default="34"/>
<arg name="utm_band" default="V"/>
<arg name="captain_ip" default="192.168.1.90" />
<arg name="GPS_IP" default="192.168.1.91" />
<arg name="INS_IP" default="192.168.1.95" />
<arg name="LOLO_IP" default="192.168.100" />


<!-- Captain interface -->
<include file="$(find captain_interface)/launch/interface.launch" ns="$(arg robot_name)">
    <arg name="captain_ip" value="$(arg captain_ip)"/>
</include>

<!-- GPS reader + GPS republish -->
<include file= "$(find captain_interface)/launch/nmea_udp_driver.launch">
    <arg name="UDP_IP" default="$(arg LOLO_IP)" />
    <arg name="UDP_PORT" default="9009" />
</include>
<node name="gps_republish" type="relay" pkg="topic_tools" args="/lolo/core/gps_raw/fix /lolo/core/gps" output="screen"/>

<!-- INS interface + INS republish -->
<include file= "$(find ixblue_ins_driver)/launch/ixblue_ins_driver.launch">
    <arg name="ip" value="$(arg LOLO_IP)"/>
    <arg name="expected_frequency" default="200.0"/>
</include>
<node name="ins_republish" type="relay" pkg="topic_tools" args="/ixblue_ins_driver/ix/ins /lolo/core/ins" output="screen"/>
<node name="imu_republish" type="relay" pkg="topic_tools" args="/ixblue_ins_driver/standard/imu /lolo/core/imu" output="screen"/>

<!-- TODO DVL node -->

<!-- TODO CTD node -->

</launch>
