<launch>

<arg name="robot_name" default="lolo"/>
<arg name="LOLO_IP" default="192.168.100" />
<arg name="FLS_IP" default="192.168.100" />

<!-- TODO FLS node(s) -->

<!-- TODO MBES node(s) -->
<include file= "$(find r2sonic_mbes)/launch/r2sonic_mbes.launch" />
<!-- <include file= "$(find r2sonic_mbes)/launch/r2sonic_bathy.launch" /> -->

<!-- TODO MBES2 node(s) -->

</launch>
