<launch>

    <!-- Ip address of captain -->
    <arg name="captain_ip" default="192.168.1.90" />

    <!-- Captain interface node -->
    <node pkg="captain_interface" type="interface" name="interface" output="screen">
        <param name="captain_ip" value="$(arg captain_ip)" type="str"/>
    </node>

    <!-- setbool services node (Maybe add this again in the future) -->
    <!-- <node pkg="captain_interface" type="captain_services.py" name="captain_toggle_services" output="screen"/> -->

    <!-- USBL output node -->
    <node pkg="captain_interface" type="usbl_output.py" name="usbl_output" output="screen" />

    <!-- TODO USBL input node -->
    
        
</launch>
